<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBdKPKYwO_Pt6zDqL5YxdN3C5QgpRZsUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>166858017601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PackagePanicDispatch</string>
	<key>PROJECT_ID</key>
	<string>packagepanicdispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>packagepanicdispatch.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166858017601:ios:01327d5e88a7b7bc6fafc0</string>
</dict>
</plist>